<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
  <title>Home</title>
</head>

<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/app/code-group.js"></script>
<body>
<h1>Home</h1>
<h2 th:text="#{common.homeWelcome}"></h2>

<p th:text="${serverTime}"> time</p>
<hr>
<h3>CodeGroup</h3>

<table>
  <tr>
    <td>
      <label for="groupCode">CodeGroup</label>
    </td>
    <td>
      <input type="text" id="groupCode" name="groupCode" value="">
    </td>
  </tr>
  <tr>
    <td>
      <label for="groupName">Name</label>
    </td>
    <td>
      <input type="text" id="groupName" name="groupName" value="">
    </td>
  </tr>
</table>

<div>
  <button id="codeGroupListBtn">LIST</button>
  <button id="codeGroupReadBtn">READ</button>
  <button id="codeGroupRegisterBtn">REGISTER</button>
  <button id="codeGroupDeleteBtn">DELETE</button>
  <button id="codeGroupModifyBtn">MODIFY</button>
  <button id="codeGroupResetBtn">RESET</button>
</div>
</body>
</html>
